.nav-Link {
  margin-right: 40px;
  color: #666;
  font-size: 1rem;
  transition: color 0.3s;
  display: inline-block;
  padding: 20px;
  box-sizing: border-box;
  font-weight: 600;
}
.navbar {
  top: 0;
  width: 100%;
  z-index: 10;

  background-color: #fff;
  box-shadow: 2px 1px 2px #eee;
  box-sizing: border-box;
}

.button-signup:hover {
  background-color: black !important;
  color: white !important;
}
